<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:int-jdbc="http://www.springframework.org/schema/integration/jdbc"
	xmlns:int-xml="http://www.springframework.org/schema/integration/xml"
	xmlns:int-ws="http://www.springframework.org/schema/integration/ws"
	xmlns:oxm="http://www.springframework.org/schema/oxm"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/integration
            http://www.springframework.org/schema/integration/spring-integration.xsd
            http://www.springframework.org/schema/integration/jdbc
            http://www.springframework.org/schema/integration/jdbc/spring-integration-jdbc.xsd
            http://www.springframework.org/schema/jdbc
            http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
            http://www.springframework.org/schema/integration/xml
    		http://www.springframework.org/schema/integration/xml/spring-integration-xml.xsd
    		http://www.springframework.org/schema/integration/ws 
    		http://www.springframework.org/schema/integration/ws/spring-integration-ws.xsd
    		http://www.springframework.org/schema/oxm 
            http://www.springframework.org/schema/oxm/spring-oxm.xsd">



	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"
			value="oracle.jdbc.OracleDriver">
		</property>
		<property name="url" value="jdbc:oracle:thin:@brtlvlty0558fu.redecorp.br:1521:soabqa"></property>
		<property name="username" value="spn_ow"></property>
		<property name="password" value="vivo08"></property>
	</bean>

	<int-jdbc:inbound-channel-adapter
		id="listanumerospolling" auto-startup="true"
		channel="listaNumerosInputchannel" data-source="dataSource" select-sql-parameter-source="parameterSource"
		max-rows-per-poll="10" row-mapper="atenaRowMapper"
		query="select NR_TELEFONE,NR_PROTOCOLO,CD_TIPO_TRANSACAO,CD_ASSINANTE,CD_STATUS_TRANSACAO,CD_STATUS_VERSAO,DT_JANELA_MIGRACAO  from SPN_TRANSACAO where 
DT_CRIACAO between :dataInicial  AND   :dataFinal and
(CD_STATUS_VERSAO in ('pending','suspended') and  CD_STATUS_TRANSACAO not in (2,7,1,3,12,19,20,99))
union
select NR_TELEFONE,NR_PROTOCOLO,CD_TIPO_TRANSACAO,CD_ASSINANTE,CD_STATUS_TRANSACAO,CD_STATUS_VERSAO,DT_JANELA_MIGRACAO from SPN_TRANSACAO where 
DT_CRIACAO between :dataInicial  AND   :dataFinal and
(CD_STATUS_VERSAO ='cancelled' and  CD_STATUS_TRANSACAO not in (16,99)) 
union 
select NR_TELEFONE,NR_PROTOCOLO,CD_TIPO_TRANSACAO,CD_ASSINANTE,CD_STATUS_TRANSACAO,CD_STATUS_VERSAO,DT_JANELA_MIGRACAO from SPN_TRANSACAO where 
DT_CRIACAO between :dataInicial  AND   :dataFinal and
(CD_STATUS_VERSAO in ('active', 'old' ,'downloadFailedPartial') and  CD_STATUS_TRANSACAO not in (14,10,9,11,99)) 
union
select NR_TELEFONE,NR_PROTOCOLO,CD_TIPO_TRANSACAO,CD_ASSINANTE,CD_STATUS_TRANSACAO,CD_STATUS_VERSAO,DT_JANELA_MIGRACAO from SPN_TRANSACAO where 
DT_CRIACAO between :dataInicial  AND   :dataFinal and
(CD_STATUS_VERSAO ='cancelPending' and  CD_STATUS_TRANSACAO not in (8,99)) 
union
select NR_TELEFONE,NR_PROTOCOLO,CD_TIPO_TRANSACAO,CD_ASSINANTE,CD_STATUS_TRANSACAO,CD_STATUS_VERSAO,DT_JANELA_MIGRACAO from SPN_TRANSACAO where 
DT_CRIACAO between :dataInicial  AND   :dataFinal and
(CD_STATUS_VERSAO ='conflict' and  CD_STATUS_TRANSACAO not in (15,6,21,99)) 
union
select NR_TELEFONE,NR_PROTOCOLO,CD_TIPO_TRANSACAO,CD_ASSINANTE,CD_STATUS_TRANSACAO,CD_STATUS_VERSAO,DT_JANELA_MIGRACAO from SPN_TRANSACAO where 
DT_CRIACAO between :dataInicial  AND   :dataFinal and
(CD_STATUS_VERSAO ='disconnectPending' and  CD_STATUS_TRANSACAO not in (17,18,99))
union
select NR_TELEFONE,NR_PROTOCOLO,CD_TIPO_TRANSACAO,CD_ASSINANTE,CD_STATUS_TRANSACAO,CD_STATUS_VERSAO,DT_JANELA_MIGRACAO from SPN_TRANSACAO where 
DT_CRIACAO between :dataInicial  AND   :dataFinal and
(CD_STATUS_TRANSACAO in (99) and CD_STATUS_VERSAO not in ('pending','active','old'))">
		<int:poller fixed-rate="10" max-messages-per-poll="10">
			<int:transactional />
		</int:poller>
	</int-jdbc:inbound-channel-adapter>
	
	

	<int:channel id="listaNumerosinputchannel">
	</int:channel>

	<int:service-activator ref="iniciarProcesso"
		method="iniciar" input-channel="listaNumerosInputchannel" />

	<bean id="iniciarProcesso"
		class="com.brq.atena.service.IniciarProcesso">
	</bean>
	
	<bean id="selectStatus" class="com.brq.atena.service.SelectStatus">
	   <property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="atenaRowMapper"
		class="com.brq.atena.model.AtenaRowMapper">
	</bean>

	<bean id="jdbcTemplate"
		class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />

	</bean>
	
	<bean id="dataFind"
		class="com.brq.atena.util.DataFind">
		
	</bean>
	
	<bean id="parameterSource" factory-bean="parameterSourceFactory"
			factory-method="createParameterSourceNoCache">
	<constructor-arg value="" />
</bean>

<bean id="parameterSourceFactory"
		class="org.springframework.integration.jdbc.ExpressionEvaluatingSqlParameterSourceFactory">
	<property name="parameterExpressions">
		<map>
			<entry key="dataInicial" value="@dataFind.datainicial()" />
			<entry key="dataFinal" value="@dataFind.datafinal()" />
		</map>
	</property>
</bean>

</beans>

